{% extends "base.html" %}

{% block 'content' %}
    {% if validlink %}
        <h2 class="mt-2">Redefinir senha</h2>
        <p>Digite (e confirme) sua nova senha.</p>
        <form class="mt-5" action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
        </form>
    {% else %}
        <h1>Falha na redefinição de senha</h1>
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}
{% endblock %}