{% extends 'base.html' %}

{% block 'content' %}

<nav class="navbar">
  <h2 class="">Saida de produtos</h2>
</nav>

<div class="row justify-content-center">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Criando em</th>
                </tr>
            </thead>
            <tbody>
                {% for output in outputs %}
                    <tr>
                        <th scope="row">{{ output.id }}</th>
                        {% if output.product.id %}
                            <td><a href="{% url 'detail' output.product.id %}">{{ output.product }}</a></td>
                        {% else %}
                            <td>Produto desconhecido</td>
                        {% endif %}
                        <td>{{ output.amount }}</td>
                        <td>{{ output.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center">
    {% include 'partial/_pagination.html' %}
</div>

{% endblock %}
