{% extends 'base.html' %}

{% block 'content' %}
    <div class="row">
        <div class="col">
            <h2 class="mt-2">Produto #{{product.id}}</h2>
            <div class="mt-2 p-5 bg-light rounded-lg">
                <div class="row ">
                    <div class="col">
                        <h2>{{ product.name }}</h2>
                        <p>{{ product.description|safe }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group">
                            <li class="list-group-item">Preço: {{ product.price }}</li>
                            <li class="list-group-item">Cor: {{ product.color }}</li>
                            {% if product.sex == 'm' %}
                                <li class="list-group-item">Sexo: Masculino</li>
                            {% elif product.sex == 'f' %}
                                <li class="list-group-item">Sexo: Feminino</li>
                            {% else %}
                                <li class="list-group-item">Sexo: Unissex</li>
                            {% endif %}
                            <li class="list-group-item">Categoria: {{ product.category }}</li>
                            <li class="list-group-item">Tags: 
                                {% for tag in tags %}
                                    {{ tag.name }}, 
                                {% endfor %}
                            </li>
                            <li class="list-group-item">Marca: {{ product.brand }}</li>
                            {% if product.status %}
                                <li class="list-group-item">Publicado: <span class="text-success">Sim</span></li>
                            {% else %}
                                <li class="list-group-item">Publicado: <span class="text-danger">Não</span></li>
                            {% endif %}
                            <li class="list-group-item">Criado em: {{ product.created_at }}</li>
                            <li class="list-group-item">Última atualização: {{ product.updated_at }}</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <img src="{{ product.image.url }}" class="w-100 rounded-lg">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <ul class="nav justify-content-center">
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-primary" href="{% url 'update' product.id %}">Editar</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-secondary" href="{% url 'product_size_create' product.id %}">Adicionar tamanho</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link btn btn-danger" href="{% url 'delete' product.id %}">Deletar</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Tamanho</th>
                                    <th scope="col">Quantidade</th>
                                    <th scope="col">Operações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for size in sizes %}
                                    <tr>
                                        <td>{{ size.size }}</td>
                                        <td>{{ size.amount }}</td>
                                        <td>
                                            <form class="d-inline" action="{% url 'product_size_add' product=product.id pk=size.id %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-success" value="+1">
                                            </form>
                                            <form class="d-inline" action="{% url 'product_size_subtract' product=product.id pk=size.id %}" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-secondary" value="-1">
                                            </form>
                                            <a href="{% url 'product_size_add_more' product=product.id pk=size.id %}" class="link-primary px-3">Adicionar mais</a>
                                            <a href="{% url 'product_size_subtract_more' product=product.id pk=size.id %}" class="link-info px-3">Remover mais</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>    
                        </table>
                    </div>
                </div>


                <div class="row mt-5">
                    <div class="col mx-3 bg-white rounded-lg py-3">
                        <h4>Adicionados ao estoque  <a href="" class="btn btn-primary btn-sm">Ver Todos</a></h4>
                        <table class="table table-sm mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Quantidade Adicionada</th>
                                    <th scope="col">Tamanho</th>
                                    <th scope="col">Preço da unidade</th>
                                    <th scope="col">Data</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        <th scope="row">{{ transaction.amount }}</th>
                                        <td>{{ transaction.size }}</td>
                                        <td>{{ transaction.unit_price }}</td>
                                        <td>{{ transaction.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}